header{
    font-size: 14px;
    font: arial;
    margin-left: 150px;
}
footer{
    font-size: 16px;
    font: arial;
    margin-left: 175px;

}
body{
    background-color: rgb(79, 139, 133);
}
.section1{
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
}
.section2{
    width: 250px;
    height: 250px;
    border-radius: 13px;
    margin-left: 125px;
}
#txtano{
    margin-left: 175px;
    box-shadow: rgb(105, 101, 101);
    box-shadow: 30px;
}
#masc{
    margin-left: 80px;
}
#fem{
    margin-left: 80px;
}
.sex{
    margin-left: 80px;
}
#verificar{
    margin-left: 175px;
    background-color: rgb(219, 81, 17);
    border-radius: 30px;
}
#anonasc{
    margin-left: 175px;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-self: center;
}